<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Files{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<a href="{{ path('files_upload') }}">File Upload</a>
<a href="{{ path('files_view') }}">Your Files</a>
<a href="{{ path('app_logout') }}">Logout</a>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
