<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dateien{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<a href="/files/upload">Datei hochladen</a>
<a href="files/view">Hochgeladene Dateien</a>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
