<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Real-Testaufgabe</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if app.user %}
    <h1>Willkommen {{ app.user.username }}</h1>
    <a href="/dateien">Dateien</a>
{% else %}
    <h1>Willkommen, bitte <a href="/login">HIER</a> einloggen.</h1>
{% endif %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
